body {
	background-image: url("https://mcdn.wallpapersafari.com/medium/58/50/z5Qvwx.jpg");
	color: white;
	text-shadow: 1px 1px 2px green;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 20px;
}

#main {
	background-color: rgb(80, 25, 15);
	padding: 10px;
	max-width: 400px;
	margin: 0 auto;
}

table, th, td {
    border: 1px solid black;
	background-color: rgb(155, 97, 50);
}

th {background-color: rgb(68, 94, 21); }

table {
    width: 100%;
}

button {
	background-color: rgb(68, 94, 21);
	color: white;
}

img {
	height: 250px;
	width: 300px;
	border-color: rebeccapurple;
	border-width: 10px;
}

.dropbtn {
    background-color: brown;
    color: white;
    padding: 14px;
    font-size: 14px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(30, 70, 30);
    min-width: 20px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: white;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: rgb(30, 70, 30);}
