{% load static %}

<head>
    <title>Thanksgiving Recipes - Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'thanksgiving/style.css' %}">
</head>

<body>

	<div id="main">

		<h1>Happy Thanksgiving!</h1>
		<h2>Getting ready for a Thanksgiving feast?</h2>
		<h2>Here you can find your favorite Thanksgiving dishes and view some of the best recipes for these dishes.</h2>

		<br>

		<form action="{% url 'recipes' %}" method="POST">
			{% csrf_token %}
			Dish Categories
			<select name="dish_category">
			{% for category in category_list %}
				<option value={{category.category}}>{{category.category}}</option>
			{% endfor %}
			</select>
			<button>Find Recipes</button>
		</form>
		
		<br><br>

		<img src="https://cdn.hipwallpaper.com/i/50/41/nK3FUW.jpg" alt="Thanksgiving Dinner">

		<br><br>

		<h2>Add a new dish to our list</h2>
		<form action="{% url 'home' %}" method="POST">
			{% csrf_token %}
			Category: <input type="text" name="category"><br>
			Title: <input type="text" name="title"><br>
			Servings: <input type="text" name="servings"><br>
			Time: <input type="text" name="prep_time"><br>
			Source: <input type="text" name="source"><br>
			<br><button>Add New Dish</button>
		</form>

	</div>

</body>