{% load static %}

<head>
    <title>Thanksgiving Recipes</title>
    <link rel="stylesheet" type="text/css" href="{% static 'thanksgiving/style.css' %}">
</head>

<body>
<div id="main">
	<br><br>

	<h1>Favorite {{dish_name}} Dishes</h1>

	<br>

	<table>
		<tr>
			<th>Category</th>
			<th>Title</th>
			<th>Servings</th>
			<th>Time</th>
			<th>Source</th>
		</tr>
		{% for dish in dishes %}
			<tr>
				<td>{{dish.category}}</td>
				<td>{{dish.title}}</td>
				<td>{{dish.servings}}</td>
				<td>{{dish.prep_time}}</td>
				<td><a href={{dish.source}}>View Full Recipe</a></td>
			</tr>
		{% endfor %}

	</table>

	<br>

	<button><a href="https://Thanksgiving-Recipes.caileyp.repl.co/home/">Home</a></button>
</div>
</body>